<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Your Answer" %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.date_select :submitted, { :discard_day => true, :discard_month => true, :discard_year => true }%>
  </div>
  <div class="field">
    <%= f.hidden_field :score, :value => 10 %>
  </div>
  <% if user_signed_in? %>
  <div class="field">
    <%= f.hidden_field :user, :value => current_user.email%>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit Your Answer"%>
  </div>
<% end %>
