<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @answer.desc %>
</p>

<p>
  <b>Submitted:</b>
  <%= @answer.submitted %>
</p>

<p>
  <b>Score:</b>
  <%= @answer.score %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user %>
</p>

<%= link_to 'Back', section_question_answers_path(@section, @question) %>
<% user = current_user.email%>
<% if @question.user == user %>
<%= link_to 'Edit', edit_section_question_answer_path(@section, @question, @answer) %> |
<% end %>
