<h1> All Questions in <%= @section.name %></h1>
	
<table>
<tr>
</tr><% for question in @questions %><tr>
<td><%= question.name %></td><td> &nbsp;<%= link_to 'View Question', section_question_path(@section, question)%></td>
</tr>

<% end %>
</table>
<br />
		  
<%= link_to 'New Question', new_section_question_path(@section) %>
<%= link_to 'Back to Section', @section %>
